/WCFDuplexDemo/Chat/bin
/WCFDuplexDemo/Chat/obj
/ChatRoom_WCF_Duplex_Sample/.vs
/ChatRoom_WCF_Duplex_Sample/Chat/bin
/ChatRoom_WCF_Duplex_Sample/Chat/obj
/ChatRoom_WCF_Duplex_Sample/Contract/bin
/ChatRoom_WCF_Duplex_Sample/Contract/obj
/ChatRoom_WCF_Duplex_Sample/Server/bin
/ChatRoom_WCF_Duplex_Sample/Server/obj
/ChatRoom_SignalR_Sample/ChatClient/bin
/ChatRoom_SignalR_Sample/ChatClient/obj
/ChatRoom_SignalR_Sample/SignalR_Server/bin
/ChatRoom_SignalR_Sample/SignalR_Server/obj
